.output/
.pio/
.vscode/
firmware/
espfs/mkespfsimage/*.o
tools/mkespfsimage/mkespfsimage
webpages.espfs
espfs/espfstest/*.o
espfs/espfstest/espfstest
*.DS_Store
data/
libs/*
esp-link.tgz
tve-patch/
yui
espfs/mkespfsimage/mman-win32/mman.o
esp-link.opensdf
esp-link.sdf
espfs/mkespfsimage/mman-win32/libmman.a
.localhistory/
*.tgz
esp-link-v3.0.14-g963ffbb
node_modules/
sdk/
packages/
platforms/
.vscode/
